@media only screen and (max-width: 480px) {
    .main-bombones {
        background-image: url(../recursos/imagenes/bombones/principal2.jpeg);
        background-color: chocolate;
        padding: 16% 0% 16% 0%;
        background-repeat: no-repeat;
        background-size: cover;

        .h1-bombones {
            font-family: 'Gentium Book Basic', serif;
            font-size: 160%;
            color: whitesmoke;
            padding-left: 1%;
        }
    }
}