// Inicio de seccion 1 de bombones
@media only screen and (min-width: 481px) and (max-width: 960px) {
    .seccion-1-bombones {
        background-color: #B94E02;
        display: flex;
        justify-content: center;

        flex-wrap: wrap;

        .fondo-imagen-bombones {
            display: flex;
            justify-content: center;
            width: 33%;
            height: 410px;

            .imagen-2-bombones {
                border-radius: 30px;
                width: 25%;
                height: 230px;
                margin: 0px;
                position: absolute;
                margin-top: 10%;
            }
        }
    }
}

//Fin de seccion 1 de bombones