/* Error: Expected digit.
 *    ,
 * 13 |         .imagen-2-bombones {
 *    |          ^
 *    '
 *   sass-2\desktop\bombones\_section-1-bombones.scss 13:10  @import
 *   sass-2\styles.scss 14:8                                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a    \2577 \a 13 \2502          .imagen-2-bombones {\d\a    \2502           ^\a    \2575 \a   sass-2\\desktop\\bombones\\_section-1-bombones.scss 13:10  @import\a   sass-2\\styles.scss 14:8                                 root stylesheet";
}
