@media only screen and (max-width: 480px) {

    .seccion3 {
        text-align: center;
        background-color: chocolate;

        .video-index {
            width: 75%;
            padding-bottom: 5%;
        }
    }
}