@media only screen and (min-width: 481px) and (max-width: 960px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0% 20% 34% 26% 14%;
        grid-auto-rows: 180px;
        grid-gap: 4px;
        background-color: #5E2903;
        padding-top: 1%;


        .lcdth {
            display: block;
            justify-content: center;
            flex-wrap: revert;
            background-color: transparent;
            font-size: 75%;
            font-family: "Castoro", serif;
            text-transform: uppercase;
            letter-spacing: 0px;
            color: #000000;
        }

        .lcdtt {
            padding-left: 10%;
        }

        .lista {
            list-style: none;
            padding-left: 1%;

            .sublista {
                display: inherit;

                .menu2 {
                    color: white;
                    font-size: 10px;
                    font-family: "Castoro", serif;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    text-decoration: none;
                }

                .menu2:hover {
                    text-decoration: underline;
                    color: white;
                }
            }
        }

        .lista-2 {
            padding-left: 1%;
            list-style: none;


            .sublista-2 {
                background-color: transparent;
                font-size: 4px;
                font-family: "Castoro", serif;
                text-transform: uppercase;
                letter-spacing: 0px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        .mediosdepago-1 {
            display: block;

            .mediosdepago-2 {
                width: 15%;
            }
        }

        .lista-3 {
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 30%;
            padding-left: 0%;

            .sublista-3 {
                font-size: 200%;
                color: black;
                letter-spacing: 4px;
                text-decoration: none;
            }
        }
    }
}