@media only screen and (min-width: 481px) and (max-width: 960px) {
    
    main {
        margin-top: -4%;

        .carousel-inner {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 181px;
        }
    }
}