@media only screen and (max-width: 480px) {

    .seccion2 {
        background-color: chocolate;
        padding-bottom: 1%;

        .frace {
            font-family: "Gentium Book Basic", serif;
            text-align: center;
            font-size: 160%;
            padding: 0% 0% 4% 0%;
        }
    }
}