@media only screen and (max-width: 480px) {

    .seccion4 {
        background-color: #D2691E;
        font-size: 100%;
        font-family: "Castoro", serif;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #000000;
        padding: 2% 0% 5% 0%;
        display: flex;
        justify-content: space-around;

        h3 {
            font-size: 120%;
        }

        .icono {
            font-size: 230%;

        }
    }
}