@media only screen and (min-width: 481px) and (max-width: 960px) {
    .seccion3 {
        text-align: center;
        background-color: chocolate;
        margin-top: -1%;

        .video-index {
            width: 60%;
            padding-bottom: 5%;
        }
    }
}