@media only screen and (max-width: 480px) {
    .main-chocolates-con-leche {
        background-image: url(https://www.lagacetadesalamanca.es/binrepository/1200x676/0c39/1200d597/none/25207907/FPVF/chocolate_1-2815694_20210706085334.jpg);
        background-color: chocolate;
        padding: 16% 0% 16% 0%;
        background-repeat: no-repeat;
        background-size: cover;

        .h1-chocolates-con-leche {
            font-family: 'Gentium Book Basic', serif;
            font-size: 160%;
            color: whitesmoke;
            padding-left: 1%;
        }
    }
}