@media only screen and (max-width: 480px) {
    .main-sin-tacc {
        background-image: url(https://images.clarin.com/2016/02/10/mamuschka-hace-chocolates-sin-tacc___Hkbfo5FEx_720x0.jpg);
        background-position-y: 18%;
        background-color: chocolate;
        padding: 16% 0% 16% 0%;
        background-repeat: no-repeat;
        background-size: cover;

        .h1-sin-tacc {
            font-family: 'Gentium Book Basic', serif;
            font-size: 160%;
            color: whitesmoke;
            padding-left: 1%;
        }
    }
}