.seccion-1-blanco {
    background-color: #B94E02;
    @extend %flexbox;
    flex-wrap: wrap;

    .fondo-imagen-blanco {
        display: flex;
        justify-content: center;
        width: 31%;
        height: 450px;
        margin-top: 10%;

        .imagen-2-blanco {
            border-radius: 30px;
            width: 18%;
            height: 240px;
            margin: 0px;
            position: absolute;
            margin-top: 3%;
            transition: all 2s;
            transition-property: all;
            transition-duration: 2s;

        }

        .imagen-2-blanco:hover {
            transform: rotate(360deg) scale(2);
        }
    }
}