// @media only screen and (max-width: 481px) and (max-width: 960px){

//     //Inicio de Hedaer
//     header {
//         background-color: #5e2903;
//         padding-top: 1%;
//         position: sticky;
//         top: 0;
//         z-index: 1;
//         margin-bottom: 4%;


//         .titulo-audio-buscador {
//             display: flex;
//             justify-content: center;

//             .titulo-audio-buscador-2 {
//                 display: flex;
//                 justify-content: space-between;
//                 position: sticky;
//                 top: 0;
//                 width: 100%;

//                 .buscador {
//                     width: 15%;
//                     background-color: #5e2903;
//                     padding-top: 1%;
//                 }

//                 .titulo-principal {
//                     width: 100%;
//                     height: 45px;
//                     margin-left: -9%;
//                 }

//                 .carrito-audio {
//                     color: white;
//                     font-size: 105%;
//                     display: flex;
//                     justify-content: space-between;
//                     width: 10%;

//                     audio {
//                         width: 73%;
//                         padding-top: 8%;
//                         height: 41%;
//                     }
//                 }
//             }
//         }

//         .menu-general {
//             padding-top: 0%;

//             .lucas {
//                 display: flex;
//                 justify-content: flex-start;
//                 width: 100%;
//                 padding-left: 0%;
//                 padding-right: 0%;

//                 .menu-general-2 {
//                     width: 20%;
//                     display: flex;
//                     justify-content: space-evenly;
//                     flex-wrap: wrap;

//                     .menu {
//                         background-color: transparent;
//                         font-size: 70%;
//                         font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
//                         text-transform: uppercase;
//                         letter-spacing: 0px;
//                         color: #FFFFFF;
//                         display: inline-block;
//                         text-decoration: none;
//                     }
//                 }
//             }
//         }

//     }

//     //Fin de header
//     //Inicio de main
//     main {
//         margin-top: -4%;

//         .carousel-inner {
//             position: relative;
//             width: 100%;
//             overflow: hidden;
//             height: 547px;
//         }
//     }

//     //Fin de Main
//     //Inicio de Seccion 1
//     .seccion1 {
//         display: flex;
//         justify-content: center;
//         background-color: chocolate;
//         padding: 2% 0% 2% 0%;

//         .fondo-imagen {
//             display: flex;
//             justify-content: space-evenly;
//             width: 25%;
//             height: 145px;

//             .imagen1 {
//                 border-radius: 10%;
//                 width: 22%;
//                 height: 150px;
//                 margin: 0px;
//                 position: absolute;
//             }

//             .imagen2 {
//                 border-radius: 10%;
//                 width: 22%;
//                 height: 150px;
//                 margin: 0px;
//                 position: absolute;
//             }
//         }
//     }

//     //Fin de seccion 1
//     //Inicio de Seccion 2
//     .seccion2 {
//         background-color: chocolate;
//         padding-bottom: 1%;
//         margin-bottom: -1%;

//         .frace {
//             font-family: "Gentium Book Basic", serif;
//             text-align: center;
//             font-size: 230%;
//             padding: 2% 0% 3% 0%;
//         }
//     }

//     //Fin de Seccion 2    
//     //Inicio de Seccion 3
//     .seccion3 {
//         text-align: center;
//         background-color: chocolate;

//         .video-index {
//             width: 60%;
//             padding-bottom: 5%;
//         }
//     }

//     //Fin de Seccion 3

//     //Inicio de Seccion 4    
//     .seccion4 {
//         background-color: #D2691E;
//         font-size: 110%;
//         font-family: "Castoro", serif;
//         text-transform: uppercase;
//         letter-spacing: 0px;
//         color: #000000;
//         padding: 2% 0% 1% 0%;
//         display: flex;
//         justify-content: space-around;
//         margin-top: -1%;

//         h3 {
//             font-size: 120%;
//         }

//         .icono {
//             font-size: 230%;

//         }
//     }

//     //Fin de Seccion 4    
//     //Inicio de footer
//     .grid-container {
//         display: grid;
//         grid-template-columns: 0% 20% 34% 26% 14%;
//         grid-auto-rows: 140px;
//         grid-gap: 12px;
//         background-color: #5E2903;
//         padding-top: 1%;

//         .lcdth {
//             display: block;
//             justify-content: center;
//             flex-wrap: revert;
//             background-color: transparent;
//             font-size: 88%;
//             font-family: "Castoro", serif;
//             text-transform: uppercase;
//             letter-spacing: 1px;
//             color: #000000;
//         }

//         .lcdtt {
//             padding-left: 12%;
//         }

//         .lista {
//             list-style: none;
//             padding-left: 10%;

//             .sublista {
//                 display: inherit;

//                 .menu2 {
//                     color: white;
//                     font-size: 12px;
//                     font-family: "Castoro", serif;
//                     text-transform: uppercase;
//                     letter-spacing: 0px;
//                     text-decoration: none;
//                 }
//             }
//         }

//         .lcdtt {
//             padding-left: 12%;
//         }

//         .lista-2 {
//             padding-left: 1%;
//             list-style: none;

//             .sublista-2 {
//                 background-color: transparent;
//                 font-size: 13px;
//                 font-family: "Castoro", serif;
//                 text-transform: uppercase;
//                 letter-spacing: 0px;
//                 color: #FFFFFF;
//                 text-decoration: none;
//             }
//         }

//         .lista-3 {
//             display: flex;
//             list-style: none;
//             justify-content: space-between;
//             width: 60%;
//             padding-left: 7%;

//             .sublista-3 {
//                 font-size: 200%;
//                 color: black;
//                 letter-spacing: 4px;
//                 text-decoration: none;
//             }
//         }
//     }

//     //fin de footer
// }