%flexbox{
    display: flex; 
    justify-content: center;

}
%estilos-general-main{
    background-color: chocolate;
    padding: 21% 0% 21% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
%estilos-h1-main{
    font-family: 'Gentium Book Basic', serif;
    font-size: 300%;
    color: whitesmoke;
    padding-left: 5%;
} 
/*mixin*/
@mixin textos ($color-fondo, $tamaño-letra, $tipo-letra, $tipo-texto, $espacio-letras, $color-letras) {
    background-color: $color-fondo;
    font-size: $tamaño-letra;
    font-family: $tipo-letra;
    text-transform: $tipo-texto;
    letter-spacing:$espacio-letras;
    color: $color-letras;
}
@mixin condicion($fondo-color) {
    background-color: $fondo-color;

    @if $fondo-color == #5E2903 {
        padding-top: 1px;
    } @else {
        padding-top: 0px;
    }
}