@import"variables-mixin";
//Desktop
@import"desktop/index-principal/header";
@import"desktop/index-principal/main";
@import"desktop/index-principal/seccion1";
@import"desktop/index-principal/seccion2";
@import"desktop/index-principal/seccion3";
@import"desktop/index-principal/seccion4";
@import"desktop/index-principal/footer";
@import"desktop/chocolates-semiamargo/main-chocolates-semiamargo";
@import"desktop/chocolates-semiamargo/seccion-1-chocolates-semiamargo";
@import"desktop/chocolates-con-leche/main-chocolates-con-leche";
@import"desktop/chocolates-con-leche/seccion-1-chocolates-con-leche";
@import"desktop/chocolates-blancos/main-chocolates-blancos";
@import"desktop/chocolates-blancos/seccion-1-chocolates-blancos";
@import"desktop/bombones/main-bombones";
@import"desktop/bombones/seccion-1-bombones";
@import"desktop/sin-tacc/_main-sin-tacc";
@import"desktop/sin-tacc/seccion-1-chocolates-sin-taac";
//Mobile
@import"mobile/index-principal/header";
@import"mobile/index-principal/main";
@import"mobile/index-principal/seccion1";
@import"mobile/index-principal/seccion2";
@import"mobile/index-principal/seccion3";
@import"mobile/index-principal/seccion4";
@import"mobile/index-principal/footer";
@import"mobile/chocolates-semiamargo/main-chocolates-semiamargo";
@import"mobile/chocolates-semiamargo/seccion-1-chocolates-semiamargo";
@import"mobile/chocolates-con-leche/main-chocolates-con-leche";
@import"mobile/chocolates-con-leche/seccion-1-chocolates-con-leche";
@import"mobile/chocolates-blancos/main-chocolates-blancos";
@import"mobile/chocolates-blancos/seccion-1-chocolates-blancos";
@import"mobile/bombones/main-bombones";
@import"mobile/bombones/seccion-1-bombones";
@import"mobile/sin-tacc/_main-sin-tacc";
@import"mobile/sin-tacc/seccion-1-chocolates-sin-taac";
@import"medias-queris-tablets";