@import"variables-mixin";
//Desktop
@import"desktop/index-principal/header";
@import"desktop/index-principal/main";
@import"desktop/index-principal/seccion1";
@import"desktop/index-principal/seccion2";
@import"desktop/index-principal/seccion3";
@import"desktop/index-principal/seccion4";
@import"desktop/index-principal/footer";
@import"desktop/chocolates-semiamargo/main-chocolates-semiamargo";
@import"desktop/chocolates-semiamargo/section-1-chocolatessemiamargo";
@import"desktop/chocolates-con-leche/main-chocolates-conleche";
@import"desktop/chocolates-con-leche/section-1-chocolates-con-leche";
@import"desktop/chocolates-blancos/main-chocolates-blancos";
@import"desktop/chocolates-blancos/section-1-chocolatesblancos";
@import"desktop/bombones/main-bombones";
@import"desktop/bombones/section-1-bombones";
@import"desktop/sin-tacc/_main-sin-tacc";
@import"desktop/sin-tacc/section-1-chocolates-sintaac";
//Mobile
@import"mobile/index-principal/header";
@import"mobile/index-principal/main";
@import"mobile/index-principal/seccion1";
@import"mobile/index-principal/seccion2";
@import"mobile/index-principal/seccion3";
@import"mobile/index-principal/seccion4";
@import"mobile/index-principal/footer";
@import"mobile/chocolates-semiamargo/main-chocolates-semiamargo";
@import"mobile/chocolates-con-leche/main-chocolates-conleche";
@import"mobile/chocolates-blancos/main-chocolates-blancos";
@import"mobile/bombones/main-bombones";
@import"mobile/bombones/seccion-1-bombones";
@import"mobile/sin-tacc/_main-sin-tacc";
@import"medias-queris-tablets";