@media only screen and (min-width: 481px) and (max-width: 960px) {
    .seccion-1-semiamargo {
        background-color: #B94E02;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .fondo-imagen-semiamargo {
            display: flex;
            justify-content: center;
            width: 31%;
            height: 190px;

            .imagen-2-semiamargo {
                border-radius: 10px;
                width: 20%;
                height: 110px;
                margin: 0px;
                position: absolute;
                margin-top: 6%;
            }
        }
    }
}